/* Quando importar este css não preciso invocar o style.css */
@import url("styles.css");

#login-container-section {
    padding: 20px;
}

.dsc-login-form-container {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
}

.dsc-login-form-buttons {
    width: 100%;
}

@media (min-width: 576px) {
    #login-container-section {
        padding: 40px;
    }
}
